<div class="d-flex border-bottom " style="background-color: #fcfbf4 !important;">
    <div class="row w-100 align-items-center">

        <ul class="list-unstyled lists d-flex col-md-9 justify-content-around align-items-center m-0">
            <li data-target="zero" class="col-md-2 list">
                <div class="arow edit allcatagry"></div>
                <a>جميع الفئات</a>
            </li>
            <li data-target="one" class="col-md-1 list">الالكترونيات</li>
            <li data-target="two" class="col-md-1 list">موبايلات</li>
            <li data-target="three" class="col-md-1 list">الالزياء</li>
            <li data-target="four" class="col-md-1 list">المنزل</li>
            <li data-target="five" class="col-md-2 list"><span>الجمال</span><span> و العطور</span></li>
            <li data-target="six" class="col-md-1 list">سوبر مركت</li>
            <li data-target="seven" class="col-md-2 list">الاطفال والعاب</li>
            <li data-target="eight" class="col-md-1 list text-danger">عروض</li>
        </ul>

    </div>

</div>
<div class="position-fixed menu d-none">
    <div id="overlay" class=""></div>
    <div class="zero disc  w-50">
        <div class="d-flex ">
            <div class="row w-100">
                <div class="col-md-4 px-5 py-3" style="background-color: #fcfbf4 !important;">
                    <div class="category">
                        <li class="selected link" data-target="li-0"><a href="#">الإلكترونيات</a></li>
                        <li class="link" data-target="li-1"><a href="#">الموبايلات</a></li>
                        <li class="link" data-target="li-2"><a href="#">'الجمال والعناية الشخصية'</a></li>
                        <li class="link" data-target="li-3"><a href="#">الأزياء</a></li>
                        <li class="link" data-target="li-4"><a href="#">المنزل والمطبخ</a></li>
                        <li class="link" data-target="li-5"><a href="#">'الرياضة واللياقة البدنية'</a></li>
                        <li class="link" data-target="li-6"><a href="#">منتجات الأطفال</a></li>
                        <li class="link" data-target="li-7"> <a href="#">الكتب</a></li>
                        <li class="link" data-target="li-8"><a href="#">مستلزمات المكتب</a></li>
                        <li class="link" data-target="li-9"><a href="#">الموسيقى</a></li>
                        <li class="link" data-target="li-10"><a href="#">مستلزمات السيارات</a></li>
                    </div>
                </div>
                <div class="col-md-8 catagres">
                    <div class="li-0 catagre hovers">
                        <div class="detail my-3">
                            <div class="topBar">الإلكترونيات</div>
                            <div class="row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="">تليفزيونات وأجهزة الستالايت والإكسسوارات</a>
                                        <a href="">أجهزة اللابتوب والإكسسوارات</a><a href="">أجهزة الصوت و الترفيه
                                            المنزلي</a>
                                        <a href="">ألعاب الفيديو</a><a href="">الكاميرات والإكسسوارات</a>
                                        <a href="">الطابعات والإكسسوارات</a>
                                        <a href="">أجهزةالأنترنت و الراوتر</a>
                                        <a href="">تخزين الداتا</a>
                                        <a href="">مكونات أجهزة الكمبيوتر</a>
                                        <a href="">إكسسورات الكمبيوتر</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list">
                                        <a href="">سامسونج</a>
                                        <a href="">إل جي</a>
                                        <a href="">سوني</a>
                                        <a href="">لينوفو</a>
                                        <a href="">ديل</a>
                                        <a href="">إتش بي</a>
                                        <a href="">أبل</a>
                                        <a href="">كانون</a>
                                        <a href="">كاجر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-1">
                        <div class="detail my-3 ">
                            <div class="topBar">الموبايلات</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="">موبايلات
                                            وصلت جديد</a><a href="">كل
                                            الموبايلات</a><a href="">كل
                                            أجهزة التابلت</a><a href="">ساعات
                                            سمارت وإكسسوارات</a><a href="">سماعات
                                            أذن لاسلكية</a><a href="">سماعات
                                            أذن</a><a href="">باور
                                            بانك</a><a href="">الشواحن و الكابلات</a><a href="">حوامل الموبايلات و سيلفي
                                            ستيك</a><a href="">جرابات و لاصقات حماية الشاشة</a><a href="">إكسسوارت ألعاب
                                            الموبايل و الواقع
                                            الافتراضي</a><a href="">كروت
                                            ميموري</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="">سامسونج</a><a href="">شاومي</a><a href="">أبل</a><a
                                            href="">هواوي</a><a href="">أوبو</a><a href="">نوكيا</a><a
                                            href="">هونور</a><a href="">ريل مى</a><a href="">إنفنيكس</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-2">
                        <div class="detail my-3">
                            <div class="topBar">'الجمال والعناية الشخصية'</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/beauty-and-health/beauty/fragrance">عطور</a><a
                                            href="/egypt-ar/beauty-and-health/beauty/makeup-16142">مستحضرات تجميل</a><a
                                            href="/egypt-ar/beauty-and-health/beauty/hair-care">العناية بالشعر</a><a
                                            href="/egypt-ar/beauty-and-health/beauty/skin-care-16813">عناية
                                            بالبشرة</a><a
                                            href="/egypt-ar/beauty-and-health/beauty/personal-care-16343">العناية
                                            الشخصية</a><a href="/egypt-ar/mens-grooming">'منتجات العناية بالرجال'</a><a
                                            href="/egypt-ar/beauty-and-health/health">'منتجات الرعاية الصحية'</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/essence">ايسنس</a><a
                                            href="/egypt-ar/catrice">كاتريس</a><a
                                            href="/egypt-ar/maybelline_new_york">ميبلين نيويورك</a><a
                                            href="/egypt-ar/yolo">يولو</a><a href="/egypt-ar/pupa">بوبا</a><a
                                            href="/egypt-ar/calvin_klein">كلفن كلاين</a><a
                                            href="/egypt-ar/golden_rose">جولدن روز</a><a
                                            href="/egypt-ar/garnier">غارنييه</a><a href="/egypt-ar/loreal">لوريال
                                            باريس</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-3">
                        <div class="detail my-3">
                            <div class="topBar">الأزياء</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/women-31229">الأزياء النسائية</a><a
                                            href="/egypt-ar/men-31225">أزياء رجالية</a><a
                                            href="/egypt-ar/watches-store">الساعات</a><a
                                            href="/egypt-ar/fashion-accessories">إكسسوارات الأزياء</a><a
                                            href="/egypt-ar/eyewear-store">النظارات</a><a
                                            href="/egypt-ar/fashion/girls-31223">أزياء البنات</a><a
                                            href="/egypt-ar/fashion/boys-31221">أزياء الأولاد</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/ray_ban/rayban">راي بان</a><a
                                            href="/egypt-ar/casio">كاسيو</a><a href="/egypt-ar/seiko">سيكو</a><a
                                            href="/egypt-ar/adidas">أديداس</a><a href="/egypt-ar/nike">نايكي</a><a
                                            href="/egypt-ar/ravin">Ravin</a><a href="/egypt-ar/basix">بيسيكس</a><a
                                            href="/egypt-ar/fossil">فوسيل</a><a href="/egypt-ar/citizen">سيتيزن</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-4">
                        <div class="detail my-3">
                            <div class="topBar">المنزل والمطبخ</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/home-and-kitchen/bedding-16171">مستلزمات
                                            السرير</a><a href="/egypt-ar/home-and-kitchen/bath-16182">الحمامات</a><a
                                            href="/egypt-ar/home-and-kitchen/home-decor">ديكورات المنازل</a><a
                                            href="/egypt-ar/home-and-kitchen/kitchen-and-dining">'المطبخ وأدوات
                                            الطعام'</a><a
                                            href="/egypt-ar/home-and-kitchen/home-appliances-31235">الأجهزة
                                            المنزلية</a><a
                                            href="/egypt-ar/home-and-kitchen/furniture-10180">الأثاث</a><a
                                            href="/egypt-ar/home-and-kitchen/storage-and-organisation">'تخزين وتنظيم
                                            منزلي'</a><a href="/egypt-ar/tools-and-home-improvement">'أدوات وتحسينات
                                            المنزل'</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/home-and-kitchen/toshiba">توشيبا</a><a
                                            href="/egypt-ar/tornado">تورنيدو</a><a href="/egypt-ar/black_decker">بلاك
                                            اند ديكر</a><a href="/egypt-ar/mienta">ميانتا</a><a
                                            href="/egypt-ar/luminarc">لومينارك</a><a href="/egypt-ar/tefal">تيفال</a><a
                                            href="/egypt-ar/lock_and_lock">لوك آند لوك</a><a
                                            href="/egypt-ar/sistema">سيستيما</a><a href="/egypt-ar/ariika">أريكا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-5">
                        <div class="detail my-3">
                            <div class="topBar">'الرياضة واللياقة البدنية'</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a
                                            href="/egypt-ar/sports-and-outdoors/exercise-and-fitness/strength-training-equipment">'معدات
                                            القوة البدنية'</a><a
                                            href="/egypt-ar/sports-and-outdoors/team-sports">الرياضات الجماعية</a><a
                                            href="/egypt-ar/sports-and-outdoors/boating-and-water-sports">'السباحة
                                            والرياضات المائية'</a><a href="/egypt-ar/sports-and-outdoors">عرض الكل</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/body_sculpture">بودي سكلبتشر</a><a
                                            href="/egypt-ar/tyr">TYR</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-6">
                        <div class="detail my-3">
                            <div class="topBar">منتجات الأطفال</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/baby-products/strollers-18691">'عربات الأطفال
                                            وإكسسواراتها'</a><a
                                            href="/egypt-ar/baby-products/car-seats-and-accessories/car-seats">مقاعد
                                            السيارات</a><a href="/egypt-ar/baby-products/feeding-16153">مستلزمات
                                            الإطعام</a><a href="/egypt-ar/baby-products/bathing-and-skin-care">'استحمام
                                            وعناية بالبشرة'</a><a
                                            href="/egypt-ar/baby-products/diapering">الحفاضات</a><a
                                            href="/egypt-ar/toys-and-games/baby-and-toddler-toys">ألعاب الأطفال</a><a
                                            href="/egypt-ar/toys">الألعاب</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/chicco">شيكو</a><a
                                            href="/egypt-ar/pampers">بامبرز</a><a href="/egypt-ar/philips_avent">فيليبس
                                            أفنت</a><a href="/egypt-ar/baby_joy">بيبي جوي</a><a
                                            href="/egypt-ar/johnson_s">جونسون</a><a href="/egypt-ar/lovi">لوفي</a><a
                                            href="/egypt-ar/dr_brown_s">دكتور براونز</a><a
                                            href="/egypt-ar/sanosan">سانوسان</a><a href="/egypt-ar/canpol_babies">كانبول
                                            بيبز</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-7">
                        <div class="detail my-3">
                            <div class="topBar">الكتب</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/books/childrens-books/all-products">كتب
                                            الأطفال</a><a
                                            href="/egypt-ar/books/religious-and-spiritual/all-products">الكتب
                                            الدينية</a><a
                                            href="/egypt-ar/books/health-and-personal-development/all-products">كتب
                                            الصحة</a><a
                                            href="/egypt-ar/english-language-teaching-(elt)/all-products">تدريس اللغة
                                            الإنجليزية</a><a
                                            href="/egypt-ar/books/lifestyle-sport-and-leisure/cookbooks-food-and-drink">الطهي
                                            والأغذية والمشروبات</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/p-16698">دار الشروق</a><a
                                            href="/egypt-ar/p-29354">دار دون للنشر</a><a href="/egypt-ar/p-19697">نهضة
                                            مصر للنشر</a><a href="/egypt-ar/p-21479">عصير الكتب</a><a
                                            href="/egypt-ar/books?f[partner]=p_23885">آفاق للنشر</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-8">
                        <div class="detail my-3">
                            <div class="topBar">مستلزمات المكتب</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/all-printers-eg">إكسسوارات الطابعات</a><a
                                            href="/egypt-ar/office-supplies/office-electronics/calculators/all-products">الآلات
                                            الحاسبة</a><a
                                            href="/egypt-ar/office-supplies/office-electronics/telephones-and-accessories/all-products">تليفون
                                            الخط الارضى</a><a href="/egypt-ar/commercial-equipment-eg">مستلزمات
                                            الشركات</a><a
                                            href="/egypt-ar/office-supplies/education-and-crafts/all-products">التعليم
                                            والحرف اليدوية</a><a
                                            href="/egypt-ar/office-supplies/stationery-16397/all-products">لوازم
                                            المكتب</a><a
                                            href="/egypt-ar/office-supplies/writing-and-correction-supplies-16515/all-products">لوازم
                                            الكتابة والتصحيح</a><a
                                            href="/egypt-ar/office-supplies/desk-accessories-and-workspace-organizers">الإكسسوارات
                                            وأدوات تنظيم المكتب</a><a
                                            href="/egypt-ar/office-supplies/tape-adhesives-and-fasteners/all-products">الشرائط
                                            والمواد اللاصقة وأدوات التثبيت</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/office-supplies/casio">كاسيو</a><a
                                            href="/egypt-ar/brother">بروذر</a><a href="/egypt-ar/eg-epson">إبسون</a><a
                                            href="/egypt-ar/xprinter">إكس برينتر</a><a
                                            href="/egypt-ar/office-supplies/panasonic">باناسونيك</a><a
                                            href="/egypt-ar/faber_castel/faber_castell">فابر كاستل</a><a
                                            href="/egypt-ar/office-supplies/m_and_g">M&amp;G</a><a
                                            href="/egypt-ar/office-supplies/yassin">ياسين</a><a
                                            href="/egypt-ar/double_a_paper/double_a">دبل إيه</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-9">
                        <div class="detail my-3">
                            <div class="topBar">الموسيقى</div>
                            <div class="subCats row pt-2">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/piano">بيانو</a><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/guitar">جيتار</a><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/violin">فيولين</a><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/flutes">المزامير</a><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/percussion">الآلات
                                            الإيقاعية</a><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/accessories-musical-instruments">الاكسسوارات</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/yamaha">ياماها</a><a
                                            href="/egypt-ar/music-movies-and-tv-shows/musical-instruments-24670/casio">كاسيو</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catagre li-10">
                        <div class="detail my-3">
                            <div class="topBar">مستلزمات السيارات</div>
                            <div class="subCats pt-2 row">
                                <div class="col-md-6">
                                    <div class="subtitle">المشهورة أكتر</div>
                                    <div class="list"><a href="/egypt-ar/automotive/car-care">العناية بالسيارات</a><a
                                            href="/egypt-ar/automotive/exterior-accessories">الإكسسوارات الخارجية</a><a
                                            href="/egypt-ar/automotive/interior-accessories">الإكسسوارات الداخلية</a><a
                                            href="/egypt-ar/automotive/car-and-vehicle-electronics">إلكترونيات
                                            السيارات</a><a href="/egypt-ar/automotive/motorcycle-and-powersports">
                                            إكسسوارات الموتوسيكلات</a><a
                                            href="/egypt-ar/automotive/replacement-parts-16014">قطع الغيار</a></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="subtitle">أفضل الماركات</div>
                                    <div class="list"><a href="/egypt-ar/michelin">ميشلان</a><a
                                            href="/egypt-ar/automotive/osram">أوسرام</a><a
                                            href="/egypt-ar/automotive/camel">كاميل</a><a
                                            href="/egypt-ar/automotive/pioneer">بايونير</a><a
                                            href="/egypt-ar/automotive/sonax">سوناكس</a><a
                                            href="/egypt-ar/turtle_wax">ترتل واكس</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="disc one">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="">تليفزيونات وأجهزة الستالايت والإكسسوارات</a></li>
                        <li><a href="">أجهزة اللابتوب والإكسسوارات</a></li>
                        <li><a href="">أجهزة الصوت و الترفيه المنزلي</a></li>
                        <li><a href="">ألعاب الفيديو</a></li>
                        <li><a href="">الكاميرات والإكسسوارات</a></li>
                        <li><a href="">الطابعات والإكسسوارات</a></li>
                        <li><a href="">أجهزة
                                الأنترنت و الراوتر</a></li>
                        <li><a href="">تخزين
                                الداتا</a></li>
                        <li><a href="">مكونات
                                أجهزة الكمبيوتر</a></li>
                        <li><a href="">إكسسورات
                                الكمبيوتر</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-06.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-09.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-03.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-01.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-08.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-04.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-05.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-02.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/drop-brand-10.png"
                                    alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/ar_drop-01.png" alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/ar_drop-02.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc two">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="">موبايلات وصلت
                                جديد</a></li>
                        <li><a href="">كل
                                الموبايلات</a></li>
                        <li><a href="">كل أجهزة
                                التابلت</a></li>
                        <li><a href="">ساعات
                                سمارت وإكسسوارات</a></li>
                        <li><a href="">سماعات
                                أذن لاسلكية</a></li>
                        <li><a href="">سماعات
                                أذن</a></li>
                        <li><a href="">الباور
                                بانك</a></li>
                        <li><a href="">الشواحن و الكابلات</a></li>
                        <li><a href="">حوامل الموبايلات و سيلفي ستيك</a></li>
                        <li><a href="">جرابات و لاصقات حماية الشاشة</a></li>
                        <li><a href="">إكسسوارت ألعاب الموبايل و الواقع الافتراضي</a></li>
                        <li><a href="">كروت
                                ميموري</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-01.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-09.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-03.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-06.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-08.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-04.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-05.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-02.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/mobile/drop-brand-07.png" alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/mobile/ar_drop-01.png" alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/mobile/ar_drop-02.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc three">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="/egypt-ar/fashion/women-31229/all-products">أزياء نسائي</a></li>
                        <li><a href="/egypt-ar/fashion/men-31225/all-products">أزياء رجالي</a></li>
                        <li><a href="/egypt-ar/footwear-eg">أحذية</a></li>
                        <li><a href="/egypt-ar/eg-kids-clothing">ملابس أطفال</a></li>
                        <li><a href="/egypt-ar/watches-store">الساعات</a></li>
                        <li><a href="">النظارات</a></li>
                        <li><a href="">الأمتعة والحقائب</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-06.jpg" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-09.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-03.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-01.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-08.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-04.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-05.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-02.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/models/drop-brand-07.png" alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/models/ar-top-fashion-1.jpg"
                                alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/models/ar-top-fashion-2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc four">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="/egypt-ar/home-appliances-31235">الأجهزة المنزلية</a></li>
                        <li><a href="/egypt-ar/home-and-kitchen/kitchen-and-dining/cookware/all-products-eg">أدوات
                                الطهي</a></li>
                        <li><a
                                href="/egypt-ar/home-and-kitchen/kitchen-and-dining/glassware-and-drinkware/all-products-eg">أدوات
                                الشرب</a></li>
                        <li><a href="/egypt-ar/home-and-kitchen/bath-16182">الحمامات</a></li>
                        <li><a href="/egypt-ar/home-and-kitchen/bedding-16171">مستلزمات السرير</a></li>
                        <li><a href="/egypt-ar/eg-home-improvement">الأدوات وتحسين المنزل</a></li>
                        <li><a href="/egypt-ar/home-and-kitchen/furniture-10180">الأثاث</a></li>
                        <li><a href="/egypt-ar/home-and-kitchen/home-decor">ديكورات المنازل</a></li>
                        <li><a href="/egypt-ar/eg-kitchen-and-dining">المطبخ و أدوات الطعام</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-06.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-09.jpg" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-03.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-01.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-08.jpg" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-04.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-05.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-02.jpg" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/Home/drop-brand-07.jpg" alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/Home/ar_drop-01.png" alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/Home/ar_drop-02.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc five">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="/egypt-ar/beauty-and-health/beauty/fragrance">عطور</a></li>
                        <li><a href="/egypt-ar/beauty-carousels">مستحضرات تجميل</a></li>
                        <li><a href="/egypt-ar/beauty-and-health/beauty/hair-care">العناية بالشعر</a></li>
                        <li><a href="/egypt-ar/beauty-and-health/beauty/skin-care-16813">عناية بالبشرة</a></li>
                        <li><a href="/egypt-ar/beauty-and-health/beauty/personal-care-16343">العناية الشخصية</a></li>
                        <li><a href="/egypt-ar/beauty-and-health/health">منتجات الرعاية الصحية</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-06.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-09.jpg" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-03.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-01.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-08.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-04.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-05.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-02.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/butey/drop-brand-07.png" alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/butey/ar_drop-01.png" alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/butey/ar_drop-02.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc six">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="/egypt-ar/grocery-store/canned-dry-and-packaged-foods">الأغذية المعلبة والجافة
                                والمعبأة</a></li>
                        <li><a href="/egypt-ar/grocery-store/beverages-16314">المشروبات</a></li>
                        <li><a href="/egypt-ar/grocery-store/home-care-and-cleaning">العناية ونظافة المنزل</a></li>
                        <li><a href="/egypt-ar/grocery-store/snack-foods">طعام خفيف</a></li>
                        <li><a href="/egypt-ar/grocery-store/breakfast-foods">طعام الإفطار</a></li>
                        <li><a href="/egypt-ar/grocery-store/baby-foods">أغذية الأطفال</a></li>
                        <li><a href="/egypt-ar/grocery-store/candy-and-chocolate-16889">الحلوى والشوكولاتة</a></li>
                        <li><a href="/egypt-ar/pet-supplies">مستلزمات الحيوانات الأليفة</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-06.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-09.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-03.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-01.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-08.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-04.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-05.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-02.png" alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid"
                                    src="../../../assets/market/drop-brand-07.png" alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/market/ar_drop-06.png" alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/market/ar_drop-07.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc seven">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                    <ul>
                        <li><a href="/egypt-ar/baby-products/safety-17316">منتجات سلامة الأطفال</a></li>
                        <li><a href="/egypt-ar/diapering-carousels">الحفاضات والحقائب</a></li>
                        <li><a href="/egypt-ar/baby-products/bathing-and-skin-care">الاستحمام والعناية بالبشرة</a></li>
                        <li><a href="/egypt-ar/baby-products/feeding-16153">مستلزمات الإطعام</a></li>
                        <li><a href="/egypt-ar/baby-transport-carousels">مقاعد السيارات وعربات الأطفال</a></li>
                        <li><a href="/egypt-ar/baby-products/infant-activity">كراسي الأطفال والمراجيح</a></li>
                        <li><a href="/egypt-ar/baby-products/potty-training">منتجات تدريب البوتي</a></li>
                        <li><a href="/egypt-ar/toys">الألعاب</a></li>
                    </ul>
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                    <ul class="row">
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-06.jpg"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-09.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-03.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-01.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-08.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-04.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-05.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-02.png"
                                    alt="url"></a></li>
                        <li class="col-md-4"><a href=""><img class="img-fluid" src="../../../assets/Toys/drop-brand-07.jpg"
                                    alt="url"></a></li>
                    </ul>
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                    <div class="col-md-7 ps-2"><a href=""><img src="../../../assets/Toys/ar_drop-01.png" alt=""></a>
                    </div>
                    <div class="col-md-5"><a href=""><img src="../../../assets/Toys/ar_drop-02.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="disc eight">
        <div class="sc-1a4vh2k-3 eQrGSm menu menu_show">
            <div class="menuContent row ">
                <div class="catsColumn col-md-2">
                    <p class="heading">الفئات</p>
                   
                </div>
                <div class="brandsColumn col-md-4">
                    <p class="heading">أفضل الماركات</p>
                  
                </div>
                <div class="bannersColumn col-md-6 d-flex pt-3">
                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam adipisci minima laborum. Obcaecati est nemo praesentium qui. Reiciendis, doloremque est harum temporibus amet, eaque ipsa hic earum dolor nesciunt velit!</div> -->